# Xcode
DerivedData/
build/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Swift Package Manager
.swiftpm/
Packages/

# CocoaPods / Carthage
Pods/
Carthage/

# fastlane outputs
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

# macOS
.DS_Store

Secrets.xcconfig
Secrets.swift
